#root {
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  width: 100%;
}

.logo {
  max-width: 100%;
}

h1{
  font-size: 4rem !important;
}

.github-repo-link {
  background-color: white;
  font-size: 1.4rem;
  color: #1a1a1a;
  padding: 20px 30px;
  border-radius: 15px;
  outline: none;
  box-shadow: none;
  border: none;
  width: 50%;
  min-width: 400px;
  margin-top: 2rem;
  text-align: center;
}

.button-download {
  border-radius: 15px;
  background-color: #ff5e00 !important;
  color: white;
  padding: 10px 20px;
  font-size: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.counter {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: bold;
}